default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: your_username
  password: your_password

development:
  <<: *default
  database: questionnaire_development

test:
  <<: *default
  database: questionnaire_test

production:
  <<: *default
  database: questionnaire_production
  username: questionnaire
  password: <%= ENV['QUESTIONNAIRE_DATABASE_PASSWORD'] %>
